<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hp.dao.BusinessDao">
	<!-- 全查 -->
	<select id="selectAll" resultType="Business">
		select * from t_business;
	</select>
	<!-- 添加 -->
	<insert id="insert">
	insert into t_business(bType,bNum,bMark) values (#{bType},#{bNum},#{bMark})
	</insert>
	<!-- 删除 -->
	<delete id="delete">
		delete from t_business where bId=#{bId}
	</delete>
</mapper>